<script>
   $(document).ready(function() {
       
       var field_username = new AjaxField("id_login_username", "login_username_msg", "username");
       var field_password = new AjaxField("id_login_password", "login_password_msg", "password");
       var field_msg_all = new AjaxField(null, "login_all_msg", "__all__");    
       var fields = [field_username, field_password, field_msg_all];
       
       ajax_login_form = new AjaxFieldForm(fields, "/login/", "form_login", "login_statusIconOverlay", "/login/");    
       
       
   });
   
</script>
{% csrf_token %}
<form method="post" role="form" id="form_login">
   <div class="form-group row">
      <div class="col-md-12">
         <label for="login_id_username">Enter your username:</label>
         <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-user fa-sm fa-fw"></i></span>
            {{ form_login.username }}
            <script type="text/javascript">
               $('#id_login_username').addClass("form-control");
               $('#id_login_username').attr("placeholder", "Enter your username");
            </script>               
         </div>
      </div>
   </div>
   <div class="alert alert-danger" role="alert" id="login_username_msg"></div>
   <div class="form-group row">
      <div class="col-md-12">
         <label for="login_id_password">Enter your password:</label>
         <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-lock fa-sm fa-fw"></i></span>
            {{ form_login.password }}
            <script type="text/javascript">
               $('#id_login_password').addClass("form-control");
               $('#id_login_password').attr("placeholder", "Enter your password");
            </script>               
         </div>
      </div>
   </div>
   <div class="alert alert-danger" role="alert" id="login_password_msg"></div>
   <div class="alert alert-danger" role="alert" id="login_all_msg"></div>
   <center>
   <span id="login_statusIconOverlay"><i  class="fas fa-spinner fa-pulse fa-lg fa-fw" style="position: relative; vertical-align: middle; top: 10px;"></i></span>
   <center>
   <script type="text/javascript">
      $('#login_statusIconOverlay').hide();
   </script>
</form>
